# Jupyter
.ipynb_checkpoints/

# Data
raw_data.csv
processed_data.csv
Cleaned_Car_data.csv

# Notebooks
model_sampled.ipynb

# Python app files
app2.py
app_sample.py

# Assets
Background.css
car_collage_image.png

src/


# Python cache
__pycache__/
*.pyc

# Environment
venv/
.env