# Jupyter
.ipynb_checkpoints/

# Data
data/
raw_data.csv
processed_data.csv

# Notebooks
model_sampled.ipynb

# Python app files
app2.py
app_sample.py

# Assets
Background.css
car_collage_image.png
images/
src/

# Model files
*.pkl

# Python cache
__pycache__/
*.pyc

# Environment
venv/
.env